
<!-- home section starts  -->

<section class="home" id="home">

  <div id="particles-js"></div>

  <div class="content">
      <img src="assets/img/me.jpeg" alt="">
      <h3> Sonam <span>Dema</span> </h3>
      <p> I am a <span class="typing-text"> Front-End Developer </span> </p>
      <div class="share">
        
        <a href="https://www.facebook.com/sonamdema.dema.503"><img src="assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/_sddema/"><img src="assets/img/instagram.png"></a>
        <a href="https://www.linkedin.com/in/sonam-dema-628800254/"><img src="assets/img/linkedin.png"></a>
        <a href="https://github.com/Sonamdema123"><img src="assets/img/github.png"></a>
        <a href="https://gitlab.com/12190081"><img src="assets/img/gitlab.png"></a>
       </div>
      <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
  </div>

</section>

<!-- home section ends -->
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <img src="assets/img/logo3.png" alt="">
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#resume">Resume</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section class="about" id="about">
     <div class="container">
      <div class="section-title">
        <h2>About <span>Me</span></h2>
      </div>
      <div class="row">
        <div class="image">
          <img class ="tilt" src="assets/img/me1.JPG" alt="">
        </div>
        <div class="content">
          <p class="info">My name is Sonam Dema & I am a font-end developer</p>
          <div class="box-container">
            <div class="box">
              <p><span>DOB: </span>24-May-2000</p>
              <p><span>Gender:</span>Female</p>
              <p><span>Language:</span>Dzongkha,English,Sharchop</p>
              <p><span>Phone: </span>17486014</p>
            </div>
            <div class="box">
              <p><span>Freelance: </span>Available</p>
              <p><span>Email: </span>sdema1684@gmail.com</p>
              <p><span>Degree:</span>BscIT</p>
              <p><span>City:</span>Pemagatshel, Bhutan</p>
            </div>
          </div>
        </div>
      </div>
     </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
            My objective is to secure a responsible job in a place where I can implement what I have 
            learned and studied, as well as develop my knowledge and gain further experience.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Science in Information Technology </h4>
              <h5>2019 - 2023</h5>
              <p>Gyalpozhing College of Information Technology (GCIT), Mongar, Bhutan</p>
              <p><em>IT</em></p>
            </div>
            <div class="resume-item">
              <h4>Higher Secondary School Certificate in Science </h4>
              <h5>2015 - 2018</h5>
              <p>Nangkor Higher Secondary School (NHSS), Pemagatshel, Bhutan</p>
              <p><em>Physics & Math</em></p>
            </div>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Achievements/Responsibilities</h3>
            <div class="resume-item">
              <h4>Responsibilities that I have served:</h4>
              <ul>
                <li>Class representation: 2021</li>
                <li>Project Group leader: 2021</li>
                <li>Prayer Coordinator: 2022-2023</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Active club member that I have served:</h4>
              <ul>
                <li>Tarayana: 2019 - 2023</li>
                <li>Literature: 2020 - 2023</li>
                <li>Gtect: 2021 - 2023</li>
                <li>Rovers: 2022-2023</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
        
        <div class="row skills-content">
          <h3 class="resume-title">Skills</h3>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">UI/UX Designer<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Video Editing<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section><!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Welcome to my project portfolio! Here, you will find a collection of my past projects and
             experiences, showcasing my skills and expertise in various domains. I am passionate about UI/UX 
             designing and front-end designing. </p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Web</li>
              <li data-filter=".filter-web">UI/UX</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App1</h4>
                <p>Tshogyen</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tshogyen"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/Sonamdema123/Tshogyen-Application-Project1" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/ui.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>UI/UX Design</h4>
                <p>Websites & Application</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/ui.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="UI/UX Design"><i class="bx bx-plus"></i></a>
                <a href="https://sdema1684.wixsite.com/my-site-4" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/FYP.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 1</h4>
                <p>The Pema Hotel Inventory System</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/FYP.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Pema Hotel Inventory System - FYP"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/Pema-Hotel/Pema-Hotel-Website" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/ecp.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Energy Consumption Prediction</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/ecp.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Energy Consumption Prediction"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/Sonamdema123/Energy_Consumption_Prediction" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/agile.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Druk Blood Bank</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/agile.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Bruk Blood Bank - MiniProject"><i class="bx bx-plus"></i></a>
                <a href="https://gitlab.com/csf202agile/druk-blood-bank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg1">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Thank you for visiting my project portfolio.
             I'm thrilled to connect with you.
             As a <b>Front-End Developer</b>, I bring expertise in user interfaces
              and a passion for experience any projects. </p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <div class="logo1">
                <img src="assets/img/logo1.png" alt="">
              </div>
              <p>I welcome opportunities for collaboration and would be
                delighted to discuss your project or answer any questions you may have. 
                Please feel free to reach out to me at email 
                or connect with me on any social media platform. 
                I look forward to hearing from you and exploring how
                we can work together to bring your ideas to life.</p>
              <div class="social-links">
                <a href="https://www.facebook.com/sonamdema.dema.503" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/_sddema/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/sonam-dema-628800254/" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div class="d-flex align-items-center">
                <i class="bi bi-geo-alt"></i>
                <p>Motithang<br>Thimphu</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-envelope"></i>
                <p>sdema1684@gmail.com</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-phone"></i>
                <p>+97517486014</p>
              </div>

            </div>
          </div>
          
          <!-- <div class="col-lg-5 col-md-8">
            <div class="contact-form">
              <h2>Contact Us</h2>
              <form class="contact" action="/index" method="post">
                <input type="text" name="name" class="text-box" placeholder="Your Name" required>
                <input type="email" name="email" class="text-box" placeholder="Your Email" required>
                <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
                <input type="submit" name="submit" class="send-btn" value="Send">
              </form>
            </div>
          </div> -->
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SD</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 